{% extends "base.html" %}
{% block content %}

<style>
    .kb-header {
        background: linear-gradient(45deg, #6a5af9, #9c27b0);
        color: white;
    }
</style>

<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-header kb-header">
            <h4 class="mb-0"><i class="bi bi-pencil-square"></i> เพิ่มวิธีแก้ปัญหา</h4>
        </div>

        <div class="card-body">
            <form method="POST" action="{{ url_for('add_solutions', category_id=category_id) }}">


                <div class="mb-3">
                    <label class="form-label">หัวข้อปัญหา</label>
                    <input type="text" name="title" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">รายละเอียด / วิธีแก้ไข</label>
                    <textarea name="detail" rows="4" class="form-control" required></textarea>
                </div>

                <button class="btn btn-primary"><i class="bi bi-check-circle"></i> บันทึก</button>
                <a href="{{ url_for('solutions', category_id=category_id) }}" class="btn btn-secondary">ย้อนกลับ</a>
            </form>
        </div>
    </div>

</div>

{% endblock %}
