{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h3>แก้ไขงาน</h3>
 <form method="POST">
    <label>วันที่ทำงาน:</label>
    <input type="date" name="work_date" value="{{ log.work_date }}" required><br>

    <label>หมวดหมู่:</label>
    <input type="text" name="category" value="{{ log.category }}"><br>

    <label>รายละเอียด:</label>
    <textarea name="description" required>{{ log.description }}</textarea><br>

    <label>สถานะ:</label>
    <select name="status" required>
        <option value="done" {% if log.status == 'done' %}selected{% endif %}>เสร็จสิ้น</option>
        <option value="in progress" {% if log.status == 'in progress' %}selected{% endif %}>กำลังดำเนินการ</option>
        <option value="pending" {% if log.status == 'pending' %}selected{% endif %}>รอดำเนินการ</option>
    </select><br>

    <button type="submit">อัปเดต</button>
</form>

</div>
{% endblock %}
