{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-header bg-warning text-dark">
            <h4 class="mb-0"><i class="bi bi-pencil-square"></i> แก้ไขวิธีแก้ปัญหา</h4>
        </div>

        <div class="card-body">
            <form method="POST">

                <div class="mb-3">
                    <label class="form-label">หัวข้อ:</label>
                    <input type="text" name="title" value="{{ solution.title }}">
                    <textarea name="detail">{{ solution.detail }}</textarea>

                </div>

                <div class="mb-3">
                    <label class="form-label">รายละเอียด:</label>
                    <textarea name="detail" rows="4" class="form-control" required>{{ solution.detail }}</textarea>
                </div>

                <button class="btn btn-warning"><i class="bi bi-check"></i> บันทึกแก้ไข</button>
                <a href="{{ url_for('solutions', category_id=solution.category_id) }}"
                class="btn btn-secondary">ย้อนกลับ </a>


            </form>
        </div>
    </div>

</div>

{% endblock %}
